a
{
    text-decoration: none;
}
li
{
    list-style: none;
}
.container
{
    width: 100%;
    background-color: #EDF3F8;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-position: top right;
}
.wrapper
{
    width: 90%;
}
.workcontainer
{
    width: 100%;
    background-color: #1B262F;
    background-image: url(../img/work-bg.png);
    background-repeat: no-repeat;
    background-position: left top;
}
.easycontainer
{
    width: 100%;
    background-color: #EDF3F8;
}
.simplecontainer
{
    width: 100%;
    background-color: #EDF3F8;
    background-image: url(../img/simple-bg.png);
    background-repeat: no-repeat;
    background-position: right top;
}
.finanscontainer
{
    width: 100%;
    background-color: #EDF3F8;
}
.readycontainer
{
    width: 100%;
    background-color: #EDF3F8;
}
footer
{
    width: 100%;
    background-color: #1B262F;
    background-image: url(../img/footer-bg.png);
    background-repeat: no-repeat;
    background-position: right center;
}