.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 185px;
  padding-bottom: 90px;

  &__title {
    /* Start building with */
    width: 546px;
    height: 220px;

    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 72px;
    /* or 100% */
    letter-spacing: -0.553846px;

    color: #36536b;
  }
  &__input {
    padding-left: 25px;
    position: relative;
    background: #fbfcfe;
    box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
    border-radius: 25px;
    width: 250px;
    height: 28px;
    border: none;
    /* Enter email address */

    font-family: "Public Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    color: #36536b;
  }
  &__btn {
    padding: 15px;
    // padding-bottom: 25px;
    margin-left: -45px;
    position: absolute;
    width: 145px;
    height: 28px;
    background-color: #ba4270;
    border: none;
    border-radius: 25px;
    /* Schedule a Demo */

    font-family: "Public Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 5px;
    /* identical to box height */
    letter-spacing: -0.115385px;

    color: #fbfcfe;
  }
  &__text {
    /* Have any questions? */

    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    color: #6c8294;
  }
  &__span {
    /* Have any questions? */

    font-family: "Public Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */

    color: #6c8294;
  }
}
@media only screen and (max-width: 420px) {
  .intro {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    &__title {
      /* Start building with */
      width: 327px;
      height: 108px;

      font-family: "DM Serif Display";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 36px;
      /* or 112% */
      text-align: center;
      letter-spacing: -0.246154px;

      color: #36536b;
    }
    &__input {
      width: 327px;
      height: 48px;
      position: static;
      margin-bottom: 15px;
    }
    &__btn {
      width: 327px;
      height: 48px;
      position: static;
      margin-left: 0px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .intro {
    flex-direction: column;
    
  }
}
