.simple {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  padding: 140px;

  &__title {
    /* Simple UI & UX */
    width: 440px;
    height: 55px;
    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    /* identical to box height, or 117% */

    color: #36536b;
  }
  &__text {
    /* Our pre-built form i */
    width: 440px;
    height: 56px;
    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    /* or 187% */

    color: #6c8294;
  }
  &__right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
}
@media only screen and (max-width: 420px) {
  .simple {
    flex-direction: column;
    &__title {
      /* Simple UI & UX */

      font-family: "DM Serif Display";
      font-style: normal;
      font-weight: 400;
      font-size: 36px;
      line-height: 36px;
      /* identical to box height, or 100% */
      text-align: center;
      letter-spacing: -0.276923px;

      color: #36536b;
    }
    &__text {
      /* Our pre-built form i */
      width: 328px;
      height: 84px;
      margin-left: 70px;
      font-family: "Public Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 28px;
      /* or 187% */
      text-align: center;

      color: #6c8294;
    }
    &__img{
      /* Group 7 */

      width: 152px;
      height: 290px;
    }
  }
}
