.work {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 105px;
  gap: 150px;
  &__title {
    /* Who we work with */
    width: 445px;
    height: 56px;

    font-family: "DM Serif Display";
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    /* identical to box height, or 117% */
    letter-spacing: -0.369231px;

    color: #fbfcfe;
  }
  &__text {
    /* Today, millions of p */
    width: 445px;
    height: 112px;

    font-family: "Public Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
    /* or 187% */

    color: #fbfcfe;

    mix-blend-mode: normal;
    opacity: 0.7;
  }
  &__btn {
    width: 130px;
    height: 50px;
    background: none;
    border-radius: 25px;
    /* About Us */

    font-family: "Public Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    /* identical to box height */
    text-align: center;
    letter-spacing: -0.115385px;

    color: #fbfcfe;
  }
  &__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  &__cards__top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  &__cards__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
  }
}

@media only screen and (max-width: 420px) {
  .work {
    flex-direction: column;
    text-align: center;
    &__right{
      display: flex;
      flex-direction: row;
    }
    &__title {
      /* Who we work with */
      width: 327px;
      height: 36px;

      font-family: "DM Serif Display";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 36px;
      /* identical to box height, or 112% */
      text-align: center;
      letter-spacing: -0.246154px;

      color: #fbfcfe;
    }
    &__text {
      /* Today, millions of p */

      font-family: "Public Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 28px;
      /* or 187% */
      text-align: center;

      color: #fbfcfe;

      mix-blend-mode: normal;
      opacity: 0.7;
    }

    &__cards__top {
      flex-direction: column;
    }

    &__cards__bottom {
      flex-direction: column;
    }
  }
}
